/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.03.2018, 10:04:34
    Author     : jakschu
*/

/* apply a natural box layout model to all elements, but allowing components to change */
/* by paul irish: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1#title {
	font-weight: 200;
	color: limegreen;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.photos {
  display: flex;
  background-color: #222;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  max-width: 980px;
}

.photos img {
  display: block;
  float: left;
  flex: 0 0 auto;
  background-color: #fff;	
}
.photos img:hover {
	transition: .1s;
}

@media screen and (min-width: 1024px) {
  .photos img {
    width: calc(100%/5);
    height: calc(100%/5);
  }
	.photos img:hover {
		border: 2px solid greenyellow;
	}
	h1#title {
		font-size: 3em;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photos img {
    width: calc(100%/4);
    height: calc(100%/4);
  }
	.photos img:hover {
		border: 1px solid greenyellow;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .photos img {
    width: calc(100%/3);
    height: calc(100%/3);
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .photos img {
    width: calc(100%/2);
    height: calc(100%/2);
  }
}

@media screen  and (max-width: 320px) {
  .photos img {
    width: 100%;
    height: 100%;
  }
}